.project{
    width: 100%;
}
.add-project{
    width: 100%;
    background: pink;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
}
.add-project > h2{
    font-size: 20px;
    padding: 10px 0; 
    color: white;
    font-weight: 900;
}

.show-project{
    width: 100%;
    background: pink;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
}
