<div class="menu">

    <div class="logo">
        <img src="../../../assets/images/cn.png" alt="">
    </div>

    <ul>
        <li><a href="#" id="a1"><i class="pi pi-home"></i> Acceuil</a></li>
        <li><a href="#"><i class="pi pi-shopping-bag"></i> Commandes</a></li>
        <li><a href="#"><i class="pi pi-user"></i> Comptes</a></li>
        <li><a href="#"><i class="pi pi-star"></i> Reactions</a></li>
        <li><a href="#"><i class="pi pi-address-book"></i> Contacts</a></li>
    </ul>
    <br>
    <ul>
        <li><a href="#"><i class="pi pi-sign-out"></i> Logout</a></li>
    </ul>

</div>